<%= provide(:title, "About") %>

<h1>About</h1>
<p>As YSC, part of our  mission statement is to be committed to resourcing and networking YSC students and alumni throughout the world.  Our website supports this by helping YSC students connect with nearby alumni over summer break or just after graduating.  Some features we'd like to add soon are allowing students to send emails to alumni (without seeing the email address, as a security measure), implementing a search function on our user database, and letting alumni write a self-description.</p>
