<%= provide(:title, "About") %>

<h1>About</h1>

<p>
  As YSC, part of our  mission statement is to be committed to resourcing and networking YSC students and alumni throughout the world.
  Our website supports this by helping YSC students connect with nearby alumni over summer break or just after graduating.
</p>

<p>We'd like to thank:</p>
<ol>
  <li><strong>Michael Hartl</strong> for making an amazing, free Ruby on Rails tutorial (which we completed 5 times).</li>
  <li><strong>Ryan Bates</strong> for his quality RailsCasts that helped us implement search by location and profile pictures.</li>
  <li><strong>Geocoder</strong>, a Rubygem that has proven to be a real gem for us.</li>
  <li><strong>Ben Robbins</strong> for putting his picture in the public domain, which we used to test image display on our website.</li>
</ol>
