<% provide(:title, 'Home') %>

<div class="center hero-unit">
	<h1>Welcome</h1>
	<h2>to the YSC Alumni Directory</h2>
	<% if (!signed_in?) %>
		<%= link_to("Sign up here!", register_url, :class => "btn btn-large btn-primary") %>
	<% end %>
</div>
