<% provide(:title, 'Settings') %>

<h1>Change your settings:</h1>
<ol>
  <li><%= link_to("Edit information", edit_user_url(current_user)) %></li>
  <li><%= link_to("Edit account settings", '#') %></li>
</ol>