<!DOCTYPE html>
<html>
  <head>
    <meta context="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>

    <p>Thanks for registering at yscalumni.org!</p>

    <p>To confirm your account, just follow this link:</p>
    <%= @confirm_url %>

    <p>Thanks!</p>
  </body>
</html>
