<!DOCTYPE html>
<html>
  <head>
    <meta context="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>, thanks for registering at yscalumni.org!</p>

    <p>To confirm your account, just follow this link: <%= @confirm_url %>.</p>

    <p>Thanks!</p>
  </body>
</html>
