<!DOCTYPE html>
<html>
  <head>
    <meta context="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>

    <p>You have reset your password for yscalumni.org.</p>

    <p>Your new password is:</p>
    <%= @new_password %>
    
    <p>Click the following link to login with your new password, and then you should change your password to something you can remember.</p>
    <a href="http://www.yscalumni.org/change-password">Log in and change my password.</a>

    <p>Thanks!</p>
    
    <p>yscalumni.org Admins</p>
  </body>
</html>
