<% provide(:title, 'Reset Password') %>

<h1>Reset Password</h1>

<div class="row">
	<div class="span6 offset3">

		<%= form_tag(reset_password_url, :method => :post) do %>

			<%= label_tag :email  %>
		  <%= text_field_tag :email, params[:email], :class => "has-focus-tooltip", :title => "Input the email you signed up with, and we'll email you a new password." %>

			<%= submit_tag "Reset my password", :class => "btn btn-large btn-primary" %>

		<% end %>

	</div>
</div>
