@import "bootstrap";

$light-grayish: #F3F4F4;



/* mixins, variables, etc. for noobz */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}




/* universal */

 html {
 	overflow-y: scroll;
 }

body {
	padding-top: 90px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}



/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.7em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #999;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}



/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}



/* users index */
/* deprecated */

.users-list {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }

  // change how users/admins are styled in the list on the users/index page
  // perhaps add .alum-in-list later?  but then you'd have to consider an alum who is admin!

  .user-in-list {
    // default color here
  }
  .admin-in-list {
    color: red;
  }
  .admin-option {
    // default color here
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999;
}

footer a {
  color: #555;
}  

footer a:hover { 
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  margin-right:25px;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 10px;
}



/* input form */

.check-box-with-text {
  margin-bottom: 15px;
  .cb {
    float: left;
  }
  .lbl {
    margin-left: 20px;
  }
}



/* Special notice at bottom of signin form */

.notice {
  font-size: .85em;
}



/* Topic Info */

.topic-info {
  margin-bottom: 20px;
  .narrow-field {
    width: 10%;
  }
  .normal-field {
    width: 50%;
  }
}


/* Users Table (search) */

.users-table {
  width: 100%;
  :hover { background-color: $light-grayish; }
  .user-row {
    width: 100%;
    height: 100px;
    border-top: 1px solid $grayLighter;
    padding-top: 10px;
    padding-bottom: 10px;
    .profile-pic-box {
      float: left;
      margin-left: 10px;
      width: 10%;
      max-width: 10%;
      height: 100%;
      max-height: 100%;
      .profile-pic-display {
        max-width: 100%;
        max-height: 100px;
      }
    }
    .info-row-box {
      margin-left: 15%;
      height: 100%;
      .info-row {
        height: 25%;
        .name-display {
          font-size: 1.4em;
        }
      }
    }
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}

/* Size definitions for profile pics */
.profile-pic-thumbnail {
  max-width: 100px;
  max-height: 100px;
}

.profile-pic-large {
  max-width: 360px;
  max-height: 360px;
}

.profile-pic-right {
  padding-left: 20px;
  padding-bottom: 20px;
  float: right;
}

.no-bottom-margin {
  margin-bottom: 0px;
}


/* this needs to be named .tooltip */
.tooltip {
    font-size: 12px;
}


/* resets the margin and padding for this so that it display correctly regardless of which div it's nested in */
.normal-dropdown-menu {
  margin: 0px;
  padding: 0px;
  padding-left: 3.14px;
}

.justified-text {
  text-align: justify;
}


/* styling for the admin options on the show page */

.admin-option
{
  color: red;
}
.admin-option:hover {
  color: darkred;
}


/* on Contact page */
.contact-email-message {
  height: 320px;
}


/* messing with the header */

#logo {
  max-height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#header-options {
  margin-top: 24px;
}

/* text for homepage */

.home-text {
  font-size: 0.9em;
  line-height: 1.4em;
  text-align: left;
}

#home-page-buttons {
  margin-bottom: 25px;
}

/* admin control panel stuff */
.admin-cp-item {
  width: 100%;
  border-top: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  &:last-child {
    border-bottom: 1px solid black;
  }
}
