<footer>
  <div class="container">
    <nav>
      <ul class="nav pull-right">
        <li><%= link_to("Contact", contact_url) %></li>
        <li><%= link_to("About", about_url) %></li>
      </ul>
    </nav>
  </div>
</footer>